<div class="row">
  <div class="col-md-12">
    <div class="content-box-large">
      <div class="col-md-12">
        <div class="col-md-4">
          <h3 class="text-primary"><%= t('edit_student')%></h3>
        </div>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
      <%= link_to t('show') , @student %> |
      <%= link_to t('back') , students_path %>
    </div>
  </div>
</div>
