@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset_url('fonts/glyphicons-halflings-regular.eot');
  src: asset_url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       asset_url('fonts/glyphicons-halflings-regular.woff') format('woff'),
       asset_url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       asset_url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}
