<!DOCTYPE html>
<html>
<head>
  <title>Tahfeez</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="login-bg">
  <div class="header">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <!-- Logo -->
              <div class="logo">
              </div>
           </div>
        </div>
     </div>
  </div>
  <%= yield %>
</body>
</html>
